# Ignore dependencies
node_modules/
.vercel/

# OS files
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.swp
*.swo

# Logs
*.log

# Build files
dist/
build/

# Go
*.exe
*.exe~
*.dll
*.so
*.dylib
vendor/

# Environment
.env
.env.local
.vercel
